name: Sync to Hugging Face hub
on:
  push:
    branches: [main]

  # to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Add remote 
        env:
          HF: ${{ secrets.hf01 }}
        run: git remote add space https://SohaSarwar1:$HF@huggingface.co/spaces/SohaSarwar1/hs01
      - name: Push to hub
        env:
          HF: ${{ secrets.hf01 }}
        run: git push --force https://SohaSarwar1:$HF@huggingface.co/spaces/SohaSarwar1/hs01 main
